
@{
    //ViewBag.Title = "RightSectionLayout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="productlist-content">

    @Html.Action("CategoriesMenu","Store")

    <div id="productlist-rightsection">


        <section class="content-section">
            
                <h1>
                    @RenderSection("SectionTitle", required: false)
                </h1>
            




            @RenderBody()
        </section>

    </div>
</div>

@section ScriptsBottom{
    @RenderSection("ScriptsBottom",required: false)
@Scripts.Render("~/bundles/jqueryui")
}
@Scripts.Render("~/bundles/jqueryui")