@model IEnumerable<Hurtownia.Models.Product>
@using Hurtownia.Infrastructure
@{
    ViewBag.Title = "Lista wszystkich leków";
    Layout = "~/Views/Shared/RightSectionLayout.cshtml";
}

@Styles.Render("~/Content/css")
<link href="@Url.Content("~/engine1/style.css")" rel="stylesheet" type="text/css" />

@Html.Partial("_Logo")

<br />
<br />
<div id="productlist-section">
    <div class="div-opacity">
        <section>

            <div>
                <h1 style="color:red;font-size:18px;">AppFarm Siedlce Sp. z o. o.</h1><br/>

                Firma AppFarm istnieje na rynku od 2001 roku. Przez ten czas zbudowaliśmy firmę o solidnych podstawach. Stawiamy na ciągły rozwój naszego przedsiębiorstwa.
                Posiadamy sieć aptek na terenie województwa mazowieckiego oraz lubelskiego.Staramy się być konkurencyjni , stale analizując rynek i potrzeby pacjentów, staramy się jak najlepiej dostosować do zmian i panujących trendów.

                Stale rozszerzamy naszą ofertę,aby zaspokoić wymagania naszych klientów.

            </div>
        </section>
    </div>
</div>
<br />



<script type="text/javascript" src="engine1/wowslider.js"></script>
<script type="text/javascript" src="~/Content/bootstrap.css"></script>
<script type="text/javascript" src="~/Content/bootstrap.min.css"></script>

<script type="text/javascript" src="engine1/jquery.js"></script>
<script type="text/javascript" src="engine1/wowslider.mod.js"></script>
<script type="text/javascript" src="engine1/script.js"></script>
@System.Web.Optimization.Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")












@*@model IEnumerable<Hurtownia.Models.Product>
@model PagedList.IPagedList<Hurtownia.Models.Product>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css"
      @{ ViewBag.Title = "List"; }>

@Styles.Render("~/Content/css")
<link href="@Url.Content("~/engine1/style.css")" rel="stylesheet" type="text/css" />


<div id="productlist-content">

    @Html.Action("CategoriesMenu","Store")


    <div id="productlist-rightsection">
        @Html.Partial("_Logo")
        <div id="breadcrumb-section">

            <img src="@Url.Content("~/Content/Images/home-small.png")" />
            @Html.MvcSiteMap().SiteMapPath()




        </div>

        <div >
            <h1>AppFarm Siedlce Sp. z o. o.</h1>

            Firma AppFarm istnieje na rynku od 2001 roku.
            Przez ten czas zbudowaliśmy firmę o solidnych podstawach. Stawiamy na ciągły rozwój naszego przedsiębiorstwa.
            Posiadamy sieć aptek na terenie województwa mazowieckiego oraz lubelskiego.
            Staramy się być konkurencyjni  stale analizujemy rynek i potrzeby pacjentów, dostosowujemy się do zmian i panujących trendów.

            Stale rozszerzamy naszą ofertę,aby zaspokoić wymagania naszych klientów.

        </div>


    </div>


    <br />

</div>

@section ScriptsBottom {

    <script src="~/Scripts/jquery-1.11.4.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

    <script>
        $(function () {
            //gdy wywolujemy submit do serwera
            var ajaxSubmit = function () {

                var $form = $(this);

                var settings = {
                    //zserializowane wszystkie elementy formularza
                    //by fun ajax mogla z nich skorzysataca
                    data: $(this).serialize(),
                    //akcja przypisana do formularza
                    url: $(this).attr("action"),
                    //typ zadania pobrana z metod get
                    type: $(this).attr("method")
                };
                //result kawalek zrworconego html z zadania
                $.ajax(settings).done(function (result) {
                    //pozwala w sposob asynchroniczny wyslac zadanie do serwera
                    //po .done jest opisane co musimy zrobic po wyslaniu żadania
                    //gdy otrzymalismy odpowiedz
                    var $targetElement = $($form.data("ajax-target"));
                    var $newContent = $(result);
                    //zastepowaie tego co bylo wczesniej tym co przyszlo z żądania
                    $($targetElement).replaceWith($newContent);
                    $newContent.effect("slide");
                });

                return false;
            };


            var setupAutoComplete = function () {
                var $input = $(this);

                var options = {
                    //source inform o zrodle podpowiedzi json
                    source: $input.attr("data-autocomplete-source"),
                    //funkcja dzialajaca po nacisnieciu enter w podpowiedzi
                    select: function (event, ui) {
                        $input = $(this);
                        $input.val(ui.item.label);
                        var $form = $input.parents("form:first");
                        $form.submit();
                    }
                };
                //jqui wymaga options
                $input.autocomplete(options);
            };
            //jak ktos zasubmituje formularz wyszukiwania
            //to nie przeladowywuj strony tylko wywolaj funkcje ajaxSubmit
            $("#search-form").submit(ajaxSubmit);
            //szuka forma na tej stronie
            $("#search-filter").each(setupAutoComplete);

        });

    </script>
}
<script type="text/javascript" src="engine1/wowslider.js"></script>
<script type="text/javascript" src="~/Content/bootstrap.css"></script>
<script type="text/javascript" src="~/Content/bootstrap.min.css"></script>

<script type="text/javascript" src="engine1/jquery.js"></script>
<script type="text/javascript" src="engine1/wowslider.mod.js"></script>
<script type="text/javascript" src="engine1/script.js"></script>
@System.Web.Optimization.Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

@*<h2>ONas</h2>*@


