@model IEnumerable<Hurtownia.Models.Product>

@{
    ViewBag.Title = "Formularz zmiany ceny";
    Layout = "~/Views/Shared/ManageLayout.cshtml";
}

<meta charset="utf-8">
<title>jQuery UI Datepicker - Default functionality</title>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">
<script>
    $(function () {
        $("#datepicker").datepicker();
    });
</script>

<br />
<br />
<h2><b style="color:red;font-size:18px;">Formularz do szybkiego zmieniania cen produktów</b></h2>

<br />
@using (Html.BeginForm("ChangePriceForm", "Products"))
{
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-striped-column">
            <tr>
                <th style="padding:10px">
                    Nazwa
                </th>
                <th style="padding:10px">
                    Dostępna ilość
                </th>
                <th style="padding:10px">
                    Aktualna  Cena
                </th>
                <th style="padding:10px">
                    Nowa Cena
                </th>

            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td style="padding:10px">
                        <input type="text" class="form-control col-md-1" style="display:none;" min="0" value="@item.ProductName" name="item.ProductName">
                        @Html.DisplayFor(modelItem => item.ProductName)

                    </td>
                    <td style="padding:10px">
                        @Html.DisplayFor(modelItem => item.MaxQuantity)
                    </td>
                    <td style="padding:10px">
                        @String.Format("{0:dd/MM/yyyy}", @Html.DisplayFor(modelItem => item.ProductPrice))
                    </td>


                    <td style="padding:10px">
                        @Html.EditorFor(modelItem => item.ProductPrice)

                        @*@Html.TextBoxFor(modelItem => item.DateEnd, new { @class = "form-control datepicker", placeholder = "Enter Drop-off date here..." })*@

                        @*<input type="text" value="@item.DateEnd" name="@item.DateEnd"id="datepicker">*@

                        @Html.ValidationMessageFor(modelItem => item.ProductPrice, "", new { @class = "text-danger" })

                    </td>
                </tr>
            }
        </table>

    </div>
    <input class="btn btn-info" style="max-width:120px;margin-right:0px;" type="submit" value="Zapisz zmiany" />
}
<br />


<script type="text/javascript">
    $(function () {
        // This will make every element with the class "date-picker" into a DatePicker element
        $('.date-picker').datepicker();
    })
</script>