@model IEnumerable<Hurtownia.Models.Product>
@using Hurtownia.Infrastructure

@{
    Layout = "~/Views/Shared/ManageLayout.cshtml";
}
<br />
<br />
<br />
<div id="wrapper">
    @using (Html.BeginForm("EditionNameAll", "Products"))
    {
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-striped-column">

                <tr class="table tbody tr > td.info">
                    <th>
                        Nazwa
                    </th>

                    <th>
                        Kategoria
                    </th>



                    <th>Data ważności</th>
                    <th>Cena [PLN]</th>
                    <th>Ilość</th>

                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                  

                        <td>
                            <input type="text" class="form-control col-md-1" @*style="max-width:150px"*@ min="0" value="@item.ProductName" name="Name">



                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category.NameCategory)
                        </td>

                        <td>
                            @*@String.Format("{0:dd/MM/yyyy}", @Html.DisplayFor(modelItem => item.DateEnd))*@
                            @String.Format("{0:dd/MM/yyyy}", item.DateEnd)


                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductPrice)


                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaxQuantity)
                        </td>

                    </tr>
                }

            </table>
        </div>
        <input class="btn btn-info" style="max-width:120px;margin-right:0px;" type="submit" value="Zapisz zmiany" />
    }
    <br />
    <br />

    </div>
    <script type="text/javascript" src="engine1/wowslider.js"></script>
    <script type="text/javascript" src="engine1/jquery.js"></script>
    <script type="text/javascript" src="engine1/wowslider.mod.js"></script>
    <script type="text/javascript" src="engine1/script.js"></script>
    @System.Web.Optimization.Scripts.Render("~/bundles/jquery")
