@model Hurtownia.Models.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>Czy na pewno chcesz usunąć ten produkt?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Kategoria
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.NameCategory)
        </dd>

        <dt>
           Nazwa produktu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            Opis:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductDescription)
        </dd>

        <dt>
           Data dodania:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAdded)
        </dd>

        <dt>
            Data ważności:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateEnd)
        </dd>

        <dt>
            Cena:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductPrice)
        </dd>



        <dt>
            Dostępna ilość:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxQuantity)
        </dd>



    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Wstecz", "Index")
        </div>
    }
</div>
