@model Hurtownia.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.NameCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.NameCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAdded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAdded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoverFileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoverFileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsBestseller)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsBestseller)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsHidden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsHidden)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
